.coin-details-container {
  width: 80vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  position: relative;
}
.coin-details-container header {
  position: absolute;
  top: 0;
}
.coin-details-container footer {
  position: absolute;
  bottom: 0;
}
.loading {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-top-color: steelblue;
  border-radius: 50%;
  animation: rotateInfinitely 1.5s ease-in-out infinite;
}

@keyframes rotateInfinitely {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
