main {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

main > h1 {
  font-size: max(4vw, 35px);
  line-height: 1.1;
}
main > p {
  margin: 30px;
  line-height: 1.4;
}

main .input-container {
  background-color: white;
  height: 55px;
  width: 500px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
main .input-container input {
  width: 80%;
  height: 100%;
  padding-left: 15px;
  font-size: 15px;
}
main .input-container input:focus {
  outline: none;
}
main .input-container button {
  height: 70%;
  width: 19%;
  background: #7927ff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #7927ff;
}
main .input-container button:focus {
  outline: none;
}
main .input-container button:hover {
  background-color: #7131d8;
}
main .input-container button:active {
  box-shadow: none;
}

.currency-container {
  width: 90vw;
  max-width: 800px;
  margin-top: 50px;
}
.currency-container table {
  width: 100%;
  background: linear-gradient(#0b004e, #1d152f, #002834);
  border-radius: 10px;
  overflow: hidden;
}

tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid gray;
  height: 70px;
  align-items: center;
  font-size: 16px;
  padding: 0 10px 0 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: start;
}
tr td {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
}

tr td:first-of-type {
  width: 10%;
}
tr td:nth-of-type(2) {
  width: 50%;
}
tr td:nth-of-type(3) {
  width: 20%;
}
tr td:nth-of-type(4) {
  width: 20%;
}
tr td:nth-of-type(5) {
  width: 25%;
  justify-content: flex-end;
}
td img {
  width: 30px;
  margin-right: 10px;
}

.red {
  color: red;
  text-decoration: none;
}
.green {
  color: green;
  text-decoration: none;
}

@media (max-width: 770px) {
  tr td:nth-of-type(5) {
    display: none;
  }
}
