@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

#root {
  background: linear-gradient(#0b004e, #1d152f, #002834);
  overflow-x: hidden;
}
